#theme-v1 .MuiDrawer-paperAnchorDockedLeft {
    border-right: 0;
}

.MuiList-root .active .theme-v1.MuiListItem-button {
    background-color: rgba(0, 0, 0, 0.23);
}

#theme-v1 .MuiTouchRipple-root {
    display: none;
}

#theme-v1 .MuiButtonBase-root:hover {
    background-color: rgba(96, 33, 106, 0.81);
}
#theme-v1 .MuiTab-textColorInherit.Mui-selected {
    background-color: rgba(96, 33, 106, 0.81);
}

#theme-v1 .MuiButtonBase-root:hover .MuiTab-wrapper {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 1s ease-out;
#theme-v1 .makeStyles-fileUploaderButton-20:hover {
    background-color: #000000;
}
#theme-v1 .MuiTabs-indicator {
    background-color: transparent;
}
#theme-v1 .MuiTab-root.Mui-selected {
    background-color: #FBFBFB;
}
#theme-v1 .MuiTab-wrapper {
    color: #6B6E70;
}